* {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
	box-sizing: border-box;
}

.navbar {
	height: 115px;
    background-color: #20c3bc;
    display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 25px;
}

nav li {
	list-style: none;
}

.logo {
	color: white;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 3px;
	margin-left: 10px;
}

.user {
    align-self: flex-end;
}
