* {
	/* font-family: 'Oxygen', sans-serif; */
	font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
	box-sizing: border-box;
}

.navbar {
	height: 100px;
    background-color: #20c3bc;
    display: flex;
	align-items: center;
	justify-content: space-between;
}

nav li {
	list-style: none;
}

.logo {
	color: white;
	font-size: 1.5rem;
	text-transform: lowercase;
	font-weight: lighter;
	font-weight: lighter;
	/* letter-spacing: 3px; */
	margin-left: 20px;
}

.logo span {
	font-weight: 400;

}

.user {
	align-self: flex-end;
	color: white;
	margin-right: 20px;
}

p {
	font-weight: 100;
}