* {
	font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
	box-sizing: border-box;
}

.navbar {
	height: 100px;
    background-color: rgba(0,130,170,.9);
    display: flex;
	align-items: center;
}

nav li {
	list-style: none;
}

.logo {
	color: white;
	font-size: 1.5rem;
	text-transform: lowercase;
	font-weight: lighter;
}

.logo span {
	font-weight: 400;

}

.user {
	align-self: flex-end;
	color: white;
}

p {
	font-weight: 100;
}

.postTitle {
	font-size: 1.4rem;
	margin-bottom: 5px;
	margin-top: 10px;
}

.navtext {
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	max-width: 70%;
	margin: 0 auto;
}
.postBox {
	border-bottom: 1px solid #ecf0f1;
}

.postBox:first-child {
	margin-top: 50px;
}

.postAuthor,
.commentAuthor {
	font-size: 0.9rem;
	margin-bottom: 25px;
}

.commentAuthor  {
	display: inline-block;
	color: rgba(0,130,170,.9);
	font-weight: normal;
	margin: 15px 0;
}

.commentText {
	display: inline-block;
	margin-right: 5px;

}
.postText {
	margin-bottom: 20px;
}

.submitCommentBtn, .commentBtn {
	margin-bottom: 25px;
	border: none;
	background: #FFB400;
	font-size: 0.9rem;
	font-weight: lighter;
	text-transform:  lowercase;
	padding: 10px 20px;
	color: white;
	border-radius: 3px;
	cursor: pointer;
}

.newComment {
	display: flex;
	align-items: flex-end;
}

.submitCommentBtn {
	margin-bottom: 0;
	margin-left: 5px;
	height: 45px;
}

.commentBox {
	border-bottom: 1px solid #ecf0f1;
	margin-left: 20px;
}

.hidden {
	display:none;
}

.user-container {
	display: flex;
}

.logoutBtn {
	font-size: 1rem;
	color: white;
	font-weight: lighter;
	text-transform:  lowercase;
	margin-left: 20px;
	cursor: pointer;
}

.newCommentInput {
	width: 80%;
 	margin-left: 20px;
 	margin-right: 5px;
	border: 1px solid #ecf0f1;
	height: 45px;
	resize: none;
	font-size: 1rem;
	font-weight: lighter;
	outline: none;
	padding: 10px 10px;
}