* {
	/* font-family: 'Oxygen', sans-serif; */
	font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
	box-sizing: border-box;
}

.navbar {
	height: 100px;
    background-color: #20c3bc;
    display: flex;
	align-items: center;
	justify-content: space-between;
}

nav li {
	list-style: none;
}

.logo {
	color: white;
	font-size: 1.5rem;
	text-transform: lowercase;
	font-weight: lighter;
	font-weight: lighter;
	/* letter-spacing: 3px; */
	margin-left: 100px;
}

.logo span {
	font-weight: 400;

}

.user {
	align-self: flex-end;
	color: white;
	margin-right: 100px;
}

p {
	font-weight: 100;
}

.postTitle {
	font-size: 1.4rem;
	margin-bottom: 5px;
	margin-top: 10px;
}

main {
	max-width: 1080px;
	margin: 0 auto;
}
.postBox {
	border-bottom: 1px solid #ecf0f1;
}

.postBox:first-child {
	margin-top: 50px;
}

.postAuthor,
.commentAuthor {
	font-size: 0.9rem;
	margin-bottom: 25px;
}

.commentAuthor  {
	margin-bottom: 10px;
}

.postText {
	margin-bottom: 20px;
}

.commentBtn {
	margin-bottom: 20px;
}

.commentBox {
	border-bottom: 1px solid #ecf0f1;
}

.hidden {
	display:none;
}