* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
}

section {
	display: flex;
	flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 25rem;
		background:white;
}

h1 {
	display: inline;
	text-align: center;
    margin: 1rem 0 1rem 0;
    background: white;
}

form {
	display: flex;
	flex-direction: column;
	margin: 2rem auto 0 auto;
	background-color: white;
	padding: 10px;
	width: 20rem;
	justify-content: center;
	align-items: center;
	border: 3px solid rgb(215, 215, 215);
}

form > label {
	margin: 5px 0;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	color: rgb(67, 66, 66);
	background-color: white;
}

input {
	width: 15rem;
	font-size: 1rem;
	border: 0;
	background-color: rgb(227, 227, 227);
	border: 1px solid rgb(227, 227, 227);
	padding: 5px;
	margin: 3px 0;
}

button {
	height: 1.5rem;
	margin: 10px 0;
	width: 5rem;
	align-self: center;
}

p {
	background-color: white;
	text-align: center;
	color: red;
	margin: 5px 0;
	height: 1rem;
}

.red {
	border: 1px solid red;
	outline-color: red;
}

/* forum */

.navbar {
	height: 100px;
	background-color: #20c3bc;
	padding: 25px;
}

nav li {
	list-style: none;
}

.logo {
	color: white;
	font-size: 2rem;
	text-transform: uppercase;
	font-family: 'Oxygen', sans-serif;
	font-weight: 200;
	letter-spacing: 3px;
	margin-left: 10px;
}